@media (max-width: 700px) {
  .history {
    padding-top: 140px;
    &__inner {
      flex-direction: column;
    }

    &__block {
      max-width: 100%;
      width: 100%;
    }
    &__img-box {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .header {
    &__logo-box {
      max-width: 80px;
    }
  }
  .menu {
    &__list {
      
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
      position: fixed;
      right: 0;
      width: 100%;
      flex-direction: column;
      height: 100%;
      bottom: 0;
      padding-top: 100px !important;
      gap: 25px;
      transition: all 0.7s;
      transform: translateY(-100%);

      padding-right: 10px !important;
      padding-left: 10px !important;

      &.open {
        transform: translateY(0);
      }
    }

    &__close {
      display: block;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 35px;
      height: 35px;
    }

    &__close-img {
      width: 100%;
    }

    &__link {
      border: none;
      border-radius: 0;
      width: 100%;
      display: block;
      padding-bottom: 4px;
      font-size: 20px;
       background-color: #0000006e;
       border-radius: 10px;
       padding: 10px;
      &:hover {
        border: none;
      }
    }

    &__item {
      width: 100%;
      text-align: center;
    }

    &__btn {
      display: block;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    &__btn-img {
      width: 100%;
    }
  }
}
