@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 113px;

  -webkit-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 18px 1px rgba(0, 0, 0, 0.75);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0 5px 0;
  }

  &__logo-box {
    max-width: 100px;
  }

  &__logo-img {
    transform: rotate(-45deg);
    padding-top: 10px;
    padding-right: 10px;
  }

  &__logo-link {
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__close {
    display: none;
  }

  &__item {
  }

  &__btn {
    display: none;
  }

  &__link {
    color: azure;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: all 0.5s;
    background-color: #00000038;

    -webkit-box-shadow: 2px 2px 20px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 20px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 20px -6px rgba(0, 0, 0, 0.75);

    &:hover {
      border: 2px solid #ffff;
      background-color: #0000006e;
      -webkit-box-shadow: 8px 8px 20px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 8px 8px 20px -6px rgba(0, 0, 0, 0.75);
      box-shadow: 8px 8px 20px -6px rgba(0, 0, 0, 0.75);
    }
  }
}

.history {
  padding: 40px 0;
  padding-top: 153px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__block {
    max-width: 550px;
    width: 100%;
    padding: 20px;
    background-color: #0000006b;
    border-radius: 20px;
  }

  &__title {
  }

  &__text {
  }

  &__img-box {
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
  }

  &__img {
    width: 100%;
    border-radius: 10px;
  }
}




.pizza {

  padding: 30px 0;
		&__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
		}

		&__box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
		}

		&__item {
      width: 150px;
      height: 150px;
      background-color: rgb(20, 49, 75);
      border-radius: 17px;
      transition: all .5s;
      cursor: pointer;
		}

		&__descr-box {
      background-color: rgba(0,0,0,.4196078431);
      padding: 20px;
      border-radius: 10px;
      max-width: 600px;
      width: 100%;
		}

		&__descr {
      font-size: 22px;
      line-height: 24px;
		}

    &__more{
      padding: 10px;
      background-color: #f76b1c;
      border-radius: 5px;
      color: #fff;
      display: inline-block;
      margin-top: 20px;
      transition: all .5s;

      &:hover{
         background-color: #ad4e16;
      }
    }
}



@import "media";
